#macro(baselayout)
	

	<div class = "container-fluid">
	
		<div class = "row">
		
			<div class="col-sm-12">
			
				<div id = "header-nav">
		
		            <div id="tab-nav">
		
		              <a id="logo" href="$URLS.getHome()"><h1 id="logo-text">JSONNOW</h1></a>
		
		              <a class="tab-link active" href="$URLS.getHome()">Home</a>
		
		              <a class="tab-link" href="$URLS.getAbout()">What is this?</a>
		
		              <a class="tab-link" href="https://github.com/zlex7/jsonnow" target="_blank">Github</a>
		
		            </div>
		           
		         </div>
			</div>
		</div>
	</div>
#end