#macro(baselayout)
	

	<div class = "container-fluid">
	
		<div class = "row">
		
			<div class="col-sm-12">
			
				<div id = "header-nav">
		
		            <div id="tab-nav">
		
		              <a href="$URLS.getHome()"><div id="logo"></div></a>
		
		              <a class="tab-link active" href="$URLS.getHome()">Home</a>
		
		              <a class="tab-link" href="$URLS.getAbout()">What is this?</a>
		
		              <a class="tab-link" href="https://github.com/zlex7" target="_blank">TBD</a>
		
		              <a class="tab-link" href="resume.html">TBD2</a>
		
		              <a class="tab-link" id="contact-tab" href="mailto:a.wlezien@gmail.com" target="_blank">Contact</a>
		
		            </div>
		           
		         </div>
			</div>
		</div>
	</div>
#end